<footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-2 pb-0">
      <!-- Section: Social media -->
      <section class="mb-3">
        <!-- Instagram -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #ac2bac;"
          href="https://www.instagram.com/anandasaalma/"
          role="button"
          target="_blank"
        ><i class="fab fa-instagram"></i></a>
        <!-- Linkedin -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #0082ca;"
          href="https://www.linkedin.com/in/ananda-salma-athallah"
          role="button"
          target="_blank"
        ><i class="fab fa-linkedin-in"></i></a>
        <!-- Github -->
        <a
          class="btn text-white btn-floating m-1"
          style="background-color: #333333;"
          href="https://github.com/anandathllh"
          role="button"
          target="_blank"
        ><i class="fab fa-github"></i></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2024 Copyright:
      <a class="text-body">Ananda Salma Athallah</a>
    </div>
    <!-- Copyright -->
</footer>
