.home-container {
    display: flex;
    align-items: center; /* Mengatur posisi vertikal tengah */
    justify-content: center; 
    flex-direction: row;
    height: 455px;
    width: 100%;
  }
  
  .photo {
    flex: 0 0 auto; /* Membuat elemen foto tidak merentang */
    justify-content: center;
    align-items: center;
    padding-left: 100px;
  }
  
  .photo img {
    width: 350px; 
    height: 318px;
    border-radius: 50%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: 10px;
    margin-right: 40px;
    margin-top: 30px;
   
  }
  
  .description {
    flex: 1; /* Membuat elemen deskripsi merentang untuk mengisi ruang yang tersedia */
  }
  